html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: #e5e5e5 !important;

    background-color: #04011C;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 90%;
    background-color: #25203dab;
    border: 10px solid #0c023a;
    border-radius: 8px;
}

.model-viewer {
    overflow: hidden;
    margin: 20px;
    border: 5px solid #0c023a;
    border-radius: 8px;
    max-width: 90%;
    width: fit-content;
}

div.table table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    background-color: #0c023a;
}

div.table table th,
div.table table td {
    color: #fff;
    background-color: #0c023a;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

div.table table th {
    text-transform: uppercase;
}


.back {
    color: #ffffff;
}
