@font-face {
    font-family: 'JetBrains Mono';
    src: url("{{ url_for('static', filename='fonts/JetBrainsMono-Regular.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
    background-color: #04011C;

    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 90%;
    background-color: #25203dab;
    border: 10px solid #0c023a;
    border-radius: 8px;
}

.model-viewer {
    overflow: hidden;
    margin: 20px;
    border: 5px solid #0c023a;
    border-radius: 8px;
    max-width: 90%;
    width: fit-content;
}

.table {
    border-collapse: collapse;
    margin: 10px;        /* centers table */
    background-color: #0c023a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: table;           /* ensures proper table layout */
    table-layout: auto;       /* columns adjust to content width */
    width: fit-content;       /* shrink to fit content */
    max-width: 90%;           /* optional max width */
    color: #fff;
}

.back {
    color: #ffffff;
}
