{% extends "base.html" %}
{% block content %}

<div class="main-container">
    <h1>Protein Viewer</h1>
    <h3>Selected Protein Structure: {{ pdb_id.upper() }}</h3>
    <p>{{ description }}</p>
    
    <div class="model-viewer">
        {{ viewer_html | safe }}
    </div>

    <h2>Sequence Analysis</h2>
    <div class="table">
        {{ table_html | safe }}
    </div>

    <p>{{ cumulative_sentence }}</p>
    <p>{{ cumulative_sentence1 }}</p>
    <p>{{ cumulative_sentence2 }}</p>
    <p>{{ cumulative_sentence3 }}</p>
    <p>{{ cumulative_sentence4 }}</p>
    <p>{{ cumulative_sentence5 }}</p>
    <p>{{ cumulative_sentence6 }}</p>

    <br>

    <a href="/" class="back">← Search for Another Protein</a>

</div>
{% endblock %}