<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pdb_id.upper() }} Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <!-- Info Text -->
        <h1>Protein Structure: {{ pdb_id.upper() }}</h1>
        <p>{{ description }}</p>
        
        <!-- 3D viewer -->
        <div class="model-viewer">
            {{ viewer_html | safe }}
        </div>

        <!-- Sequence analysis table -->
        <h2>Sequence Analysis</h2>
        <div class="table">
            {{ table_html | safe }}
        </div>
        <p>{{ cumulatif_sentence }}</p>
        <br>
        <a href="/" class="back">← Search for Another Protein</a>
    </div>
</body>
</html>
